
body{
    scroll-behavior: smooth !important;
}
// Navigation bar and banner
.navbar{
    background-color:  #054846 !important;
    top: 0;
    overflow: hidden;
  }
  .curved-banner{
   position:relative;
   background: #054846;
   height: 65vh;
   border-bottom-left-radius: 65% 20%;
   border-bottom-right-radius: 65% 20%;
   .banner {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    .banner-text{
        font-size: 3.7em;
    }
  }
  }


//   Main body

img{
    margin: 0 auto;
    width: 100%; 
}

h3{
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;  
}

// Footer
.footer{
    background: #054846;
    color: white;
}
 .list-reset{
    margin: 0 auto;
    width: 100%;
 }


// Login form 
.form-container{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 80vh;
}
.login-form{
    background:transparent;
} 

.login-btn{
    background: #054A49;
    color: white;
    width: 100%;
    text-align: center;
    &:hover{
        background-color: #125e5c;
    }
}

// Signup
.signup-form{
    background:transparent;
    .signup-btn{
        background: #054A49;
        color: white;
        width: 100%;
        text-align: center;
        &:hover{
            background-color: #125e5c;
           
        }
    }
} 



//Feeds card
.feeds-card-container{
    margin-top: 8rem;
    .feeds-card{
        background: #ffffff;
    }
}

//Feeds navbar
.feeds-navbar{
    background-color:  #054846 !important;
    top: 0;
    overflow: hidden;
  }
.notify{
    width: 4%;
}

  @media screen and (max-width:800px){
      .curved-banner{
        border-bottom-left-radius: 0% 0%;
        border-bottom-right-radius: 0% 0%;
          .banner{
            min-height: 30vh;
              .banner-text{
                  font-size: 2.5em;
              }
          }
      }
      .first, .second, .third{
          flex-direction: column;
          img{
              width: 75%;
          }
          h3{
              font-size: 0.8em;
          }
      }
  }

  @media screen and (max-width:460px){
    .curved-banner{
        height: 32vh;
        .banner{
            min-height: 35vh;
            .banner-text{
                font-size: 1rem;
            }
        }
    }
    .notify{
        width:8%;
    }
}


